/* banner图开始 */
#main .saki_choose {
    width: 100%;
}

#main .choose_img {
    width: 100%;
    min-width: 1200px;
}

@media(max-width:1200px) {
    #main .choose_img {
        position: relative;
        left: 50%;
        margin-left: -600px;
    }
}

#main .choose_title {
    width: 100%;
    height: 215px;
    background: url(../images/choose.png) no-repeat center;
    position: relative;
    top: -45px;
}

#main .choose_title>p {
    width: 580px;
    height: 30px;
    font-size: 30px;
    position: absolute;
    top: 138px;
    left: 50%;
    margin-left: -215px;
    text-align: center;
}

#main .choose_con {
    width: 1200px;
    position: relative;
    left: 50%;
    margin-left: -600px;
    display: flex;
    justify-content: center;
}

#main .choose_con>p,
#main .choose_con>span {
    height: 38px;
    font-size: 20px;
    margin: 0 5px;
    color: #b01f24;
    cursor: pointer;
}

.choose_change {
    color: #292929 !important;
    border-bottom: 1px solid #b01f24;
}

/* banner图结束 */
/* 选项卡部分开始 */
#content {
    width: 1200px;
    height: 593px;
    border:1px solid #b01f24;
    margin: 0 auto;
}
.main_content_title{
    height: 38px;
    margin-bottom: 142px;
    color: #666;
}
.main_content_title p:nth-child(1){
    font-size: 38px;
    color: #b01f24;
    font-weight: 700;
    display: flex;
    justify-content: center;
    border-left: 360px solid #f6f6f6;
    border-right: 360px solid #f6f6f6;
}
.main_content_title p:nth-child(2){
    height: 14px;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    line-height: 20px;
}
/* 选项卡部分结束 */
/* 三大合作领域开始 */
.area_title {
    margin-top: 20px;
    width: 1200px;
    height: 53px;
    display: flex;
    align-items: center;
    border-left: 4px solid #b01f24;
    border-right: 900px solid #f6f6f6;
    margin: 140px auto 126px;
    padding-left: 20px;
    padding-right: 30px;
    box-sizing:border-box;
}
.area_title_txt span:nth-child(1){
    font-size: 32px;
    font-weight: 700;
}
.area_title_txt span:nth-child(3){
    font-size: 10px;
    color: #ccc;
    font-weight: lighter;
}
.area_content {
    width: 1200px;
    margin: 0 auto;
    border-bottom: 34px solid #f6f6f6;
    padding-bottom: 135px;
}
.area_content img:nth-child(2){
    margin-left: 40px;
    margin-right: 50px;
}
.area_content div:nth-child(2){
    margin-top: 80px;
    margin-bottom: 80px;
}
/* 三大合作领域结束 */